.hero {
    margin-top: 7rem;

    .slick-slide {
        div {
            height: 400px;
        }
    }

    @media (max-width: 768px) {
        .slick-slide {
            div {
                height: 250px;
            }
        }
    }

    @media (max-width: 480px) {
        .slick-slide {
            div {
                height: 130px;
            }
        }
    }
}