:root {
    .talkToUs {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.131);
        padding: 2rem;
        gap: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        width: 80%;
        margin: 2rem auto;

        .form {
            width: 80%;

            .phoneNdate {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }

    @media (min-width: 1024px) {
        .talkToUs {
            max-width: 77%;

            .form {
                width: 60%;

                .phoneNdate {
                    flex-direction: row;

                    .date {
                        width: 400px;
                    }
                }
            }
        }
    }
}