.box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    color: black;
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        padding: 2rem;
        background: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        .title {
            font-size: 2rem;
            font-weight: bold;
            color:  var(--primary-btn);
            text-align: center;
        }

        .text-error {
            color: red;
        }

        .button {
            background-color: var(--primary-btn);
            color: #fff;
            border: none;
            
            &:hover {
                background-color:  var(--primary-hover);
            }
            &:active {
                background-color: rgb(11, 21, 65);
            }
        }
    }

    @media screen and (min-width: 800px) {
        width: 40vw;
    }
}