@import "tailwindcss";

:root {
    --background: #f4f9fd;
    --foreground: #524f4cz;
    --secundary: #e7e7e7;
    --third: #fff;
    --background: #4e4e4e;
    --foreground: #000000;
    --primary: #000000;
    --primary-btn: #f0cc00e3;
    --primary-hover: #ffea72e3;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;

    .section {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            margin-top: 4rem;
        }
    }

    .title {
        font-size: 2.5rem;
        line-height: 1;
        color: var(--primary);
        text-align: center;
    }

    .description {
        color: var(--primary);

        &:hover {
            color: var(--primary-hover);
        }
    }

    .options {
        color: var(--primary);
        font-size: 1rem;
    }

    .bold {
        font-weight: bolder;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        margin-top: 4rem;
    }

    @media (min-width: 800px) {

        .section {
            .container {
                flex-direction: row;
            }
        }

        .title {
            font-size: 2.5rem;
            text-align: start;
        }

        .options {
            font-size: 1.5rem;
        }

        .list {
            flex-direction: row;
            justify-content: center;
        }
    }

    @media (min-width: 1024px) {
        .title {
            font-size: 3.5rem;
        }
    }
}