:root {
    .layout-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: auto;
    }
    
}