.data-container {
    display: flex;
    flex-direction: column;

    .data-button {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1rem;
        padding: .7rem;
        background-color: var(--primary-btn);
        color: var(--primary-color);
    
        &:hover {
            background-color: var(--primary-hover);
        }
        &:active {
            background-color: var(--primary-active);
        }
    }
}