$gold-color: #FFC107;
$dark-bg: #1a1a1a;
$text-white: #ffffff;

.heroSection {
    position: relative;
    background-color: $dark-bg;
    background-image: url('../../../asserts/img/carImage1.png');
    background-size: cover;
    background-position: center;
    min-height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
    }

    .leftColumn {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .logoWrapper {
        margin-bottom: 2rem;
        max-width: 200px;
    }

    .carsWrapper {
        position: relative;
        height: 450px;
        width: 100%;
    
    img {
        filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.6)) drop-shadow(0px -2px 10px rgba($gold-color, 0.1));
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
    }

    .carBack {
        position: absolute;
        top: 40px;
        left: 60px;
        z-index: 1;
        opacity: 0.9;
    }

    .carFront {
        position: absolute;
        top: 140px;
        left: -20px;
        z-index: 2;
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: $text-white;
        text-align: right;
        height: 100%;
        justify-content: center;
    }

    .mainTitle {
        font-weight: 800 !important;
        line-height: 1.1 !important;
        text-transform: uppercase;
        margin-bottom: 2rem !important;

        span {
            color: $gold-color;
        }
    }

    .ctaBox {
        background-color: $gold-color;
        padding: 2rem 3rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.4);
        margin-right: -24px; 
        max-width: 450px;
        width: 100%;
    }

    .ctaText {
        color: #111;
        font-weight: 700 !important;
        text-transform: uppercase;
        line-height: 1.4 !important;
        text-align: left;
    }

@media (max-width: 900px) {
    .heroSection {
        padding-top: 4rem;
        padding-bottom: 4rem;
        height: auto;
    }

    .logoWrapper {
        margin: 0 auto 2rem auto;
    }

    .rightColumn {
        align-items: center;
        text-align: center;
        margin-top: 3rem;
    }

    .ctaBox {
        margin-right: 0;
        border-radius: 30px;
        text-align: center;
    }

    .ctaText {
        text-align: center;
    }

    .carsWrapper {
        height: 300px;
        
        .carBack {
            width: 60%;
            left: 20%;
        }
        .carFront {
            width: 70%;
            left: 10%;
            top: 80px;
        }
    }
}