:root {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .5rem;
        cursor: pointer;
        padding: 2rem 0;
        background-color: black;
        margin-top: 5rem;
        
        p {
            color: #fff;
        }

        span {
            display: flex;
            gap:1rem;
        }
    }
}