.slick-slider {
    width: 100%;
  }
  
  .slick-list {
    border-radius: 10px;
  }
  
  .slick-slide div {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide img {
    max-height: 300px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  .dialog {
    background-color: var(--secondary);
  }